# use python3.9 for this project.
opencv-python==4.4.0.46
lxml
tqdm
tensorflow
absl-py
easydict
matplotlib
pillow

# packages for simple image downloader script
python-magic
python-magic-bin # required for windows
progressbar
